parameters:
	ignoreErrors:
		-
			message: '#^Variable \$nums in empty\(\) always exists and is not falsy\.$#'
			identifier: empty.variable
			count: 1
			path: src/Algorithmes/ArraySearchAlogorthme.php

		-
			message: '#^Call to function is_float\(\) with float will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/Algorithmes/ArraySortAlgorythmes.php

		-
			message: '#^Result of && is always false\.$#'
			identifier: booleanAnd.alwaysFalse
			count: 1
			path: src/Algorithmes/ArraySortAlgorythmes.php

		-
			message: '#^Variable \$bucket in empty\(\) always exists and is not falsy\.$#'
			identifier: empty.variable
			count: 1
			path: src/Algorithmes/ArraySortAlgorythmes.php

		-
			message: '#^Method Zack\\PhpDsAlgo\\Contracts\\IHashMap\:\:getAllEntries\(\) has invalid return type Zack\\PhpDsAlgo\\Contracts\\HashMapNode\.$#'
			identifier: class.notFound
			count: 1
			path: src/Contracts/IHashMap.php

		-
			message: '#^PHPDoc tag @throws has invalid value \(InvalidArgumentException;\)\: Unexpected token ";", expected TOKEN_HORIZONTAL_WS at offset 101 on line 4$#'
			identifier: phpDoc.parseError
			count: 1
			path: src/Contracts/IStack.php

		-
			message: '#^PHPDoc tag @throws has invalid value \(InvalidArgumentException;\)\: Unexpected token ";", expected TOKEN_HORIZONTAL_WS at offset 92 on line 4$#'
			identifier: phpDoc.parseError
			count: 1
			path: src/Contracts/IStack.php

		-
			message: '#^The @extends tag of interface Zack\\PhpDsAlgo\\Contracts\\Tree\\IBinarySearchTree describes Zack\\PhpDsAlgo\\Contracts\\Tree\\IBinaryTree but the interface extends\: Zack\\PhpDsAlgo\\Contracts\\Tree\\ITree$#'
			identifier: generics.wrongParent
			count: 1
			path: src/Contracts/Tree/IBinarySearchTree.php

		-
			message: '#^The @extends tag of interface Zack\\PhpDsAlgo\\Contracts\\Tree\\IBinaryTree describes IteratorAggregate but the interface extends\: Zack\\PhpDsAlgo\\Contracts\\Tree\\ITree$#'
			identifier: generics.wrongParent
			count: 1
			path: src/Contracts/Tree/IBinaryTree.php

		-
			message: '#^Method Zack\\PhpDsAlgo\\DataStructure\\Graph\\Graph\:\:getAdjency\(\) should return array\<int\|string, array\<int\|string\>\> but returns array\<int\|string, array\<Zack\\PhpDsAlgo\\DataStructure\\Graph\\GraphEdge\>\>\.$#'
			identifier: return.type
			count: 1
			path: src/DataStructure/Graph/Graph.php

		-
			message: '#^PHPDoc tag @param for parameter \$value with type mixed is not subtype of native type int\|string\.$#'
			identifier: parameter.phpDocType
			count: 2
			path: src/DataStructure/Graph/Graph.php

		-
			message: '#^PHPDoc tag @var above a method has no effect\.$#'
			identifier: varTag.misplaced
			count: 1
			path: src/DataStructure/Graph/Graph.php

		-
			message: '#^Instanceof between Zack\\PhpDsAlgo\\DataStructure\\LinkedList\\Doubly\\DoublyLinkedListNode and Zack\\PhpDsAlgo\\DataStructure\\LinkedList\\Doubly\\DoublyLinkedListNode will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 1
			path: src/DataStructure/LinkedList/Doubly/DoublyLinkedList.php

		-
			message: '#^PHPDoc tag @param for parameter \$values with type mixed is not subtype of native type array\.$#'
			identifier: parameter.phpDocType
			count: 1
			path: src/DataStructure/LinkedList/Doubly/DoublyLinkedList.php

		-
			message: '#^PHPDoc tag @param for parameter \$values with type mixed is not subtype of native type iterable\.$#'
			identifier: parameter.phpDocType
			count: 1
			path: src/DataStructure/LinkedList/Doubly/DoublyLinkedList.php

		-
			message: '#^PHPDoc tag @param for parameter \$index with type mixed is not subtype of native type int\.$#'
			identifier: parameter.phpDocType
			count: 1
			path: src/DataStructure/LinkedList/Single/CircularLinkedList.php

		-
			message: '#^Strict comparison using \!\=\= between Zack\\PhpDsAlgo\\DataStructure\\LinkedList\\Single\\SingleLinkedListNode and null will always evaluate to true\.$#'
			identifier: notIdentical.alwaysTrue
			count: 1
			path: src/DataStructure/LinkedList/Single/CircularLinkedList.php

		-
			message: '#^PHPDoc tag @param for parameter \$index with type mixed is not subtype of native type int\.$#'
			identifier: parameter.phpDocType
			count: 1
			path: src/DataStructure/LinkedList/Single/SingleLinkedList.php

		-
			message: '#^Class Zack\\PhpDsAlgo\\DataStructure\\Set\\Set has @extends tag, but does not extend any class\.$#'
			identifier: generics.noParent
			count: 1
			path: src/DataStructure/Set/Set.php

		-
			message: '#^Parameter \#1 \$array \(list\<T\>\) of array_values is already a list, call has no effect\.$#'
			identifier: arrayValues.list
			count: 1
			path: src/DataStructure/Set/Set.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 5
			path: src/DataStructure/Stack/ArrayStack.php

		-
			message: '#^Method Zack\\PhpDsAlgo\\DataStructure\\Tree\\AbstractTree\:\:buildNodes\(\) is unused\.$#'
			identifier: method.unused
			count: 1
			path: src/DataStructure/Tree/AbstractTree.php

		-
			message: '#^Method Zack\\PhpDsAlgo\\DataStructure\\Tree\\AbstractTree\:\:connectNodes\(\) is unused\.$#'
			identifier: method.unused
			count: 1
			path: src/DataStructure/Tree/AbstractTree.php

		-
			message: '#^Method Zack\\PhpDsAlgo\\DataStructure\\Tree\\BinarySearchTree\:\:fromArray\(\) should return static\(Zack\\PhpDsAlgo\\DataStructure\\Tree\\BinarySearchTree\<T of float\|int\|string\|Stringable\>\) but returns Zack\\PhpDsAlgo\\DataStructure\\Tree\\BinarySearchTree\<T of float\|int\|string\|Stringable\>\.$#'
			identifier: return.type
			count: 1
			path: src/DataStructure/Tree/BinarySearchTree.php

		-
			message: '#^PHPDoc tag @var with type Zack\\PhpDsAlgo\\DataStructure\\Tree\\BinaryTreeNode\<T of float\|int\|string\|Stringable\> is not subtype of native type Zack\\PhpDsAlgo\\DataStructure\\Tree\\BinaryTreeNode\<null\>\.$#'
			identifier: varTag.nativeType
			count: 1
			path: src/DataStructure/Tree/BinarySearchTree.php

		-
			message: '#^Parameter \#2 \$count of method Zack\\PhpDsAlgo\\DataStructure\\Tree\\BinarySearchTree\<T of float\|int\|string\|Stringable\>\:\:compress\(\) expects int, float given\.$#'
			identifier: argument.type
			count: 1
			path: src/DataStructure/Tree/BinarySearchTree.php

		-
			message: '#^Parameter &\$results by\-ref type of method Zack\\PhpDsAlgo\\DataStructure\\Tree\\BinarySearchTree\:\:rangeSearchTraversal\(\) expects list\<T of float\|int\|string\|Stringable\>, non\-empty\-list\<mixed\> given\.$#'
			identifier: parameterByRef.type
			count: 1
			path: src/DataStructure/Tree/BinarySearchTree.php

		-
			message: '#^Parameter &\$results by\-ref type of method Zack\\PhpDsAlgo\\DataStructure\\Tree\\BinarySearchTree\:\:traverseInOrder\(\) expects list\<T of float\|int\|string\|Stringable\>, non\-empty\-list\<mixed\> given\.$#'
			identifier: parameterByRef.type
			count: 1
			path: src/DataStructure/Tree/BinarySearchTree.php

		-
			message: '#^Parameter &\$results by\-ref type of method Zack\\PhpDsAlgo\\DataStructure\\Tree\\BinaryTree\:\:traverseInOrder\(\) expects list\<T\>, non\-empty\-list\<mixed\> given\.$#'
			identifier: parameterByRef.type
			count: 1
			path: src/DataStructure/Tree/BinaryTree.php

		-
			message: '#^Parameter &\$results by\-ref type of method Zack\\PhpDsAlgo\\DataStructure\\Tree\\BinaryTree\:\:traversePostOrder\(\) expects list\<T\>, non\-empty\-list\<mixed\> given\.$#'
			identifier: parameterByRef.type
			count: 1
			path: src/DataStructure/Tree/BinaryTree.php

		-
			message: '#^Parameter &\$results by\-ref type of method Zack\\PhpDsAlgo\\DataStructure\\Tree\\BinaryTree\:\:traversePreOrder\(\) expects list\<T\>, non\-empty\-list\<mixed\> given\.$#'
			identifier: parameterByRef.type
			count: 1
			path: src/DataStructure/Tree/BinaryTree.php

		-
			message: '#^The @implements tag of class Zack\\PhpDsAlgo\\DataStructure\\Tree\\BinaryTree describes IteratorAggregate but the class implements\: Zack\\PhpDsAlgo\\Contracts\\Tree\\IBinaryTree$#'
			identifier: generics.wrongParent
			count: 1
			path: src/DataStructure/Tree/BinaryTree.php

		-
			message: '#^Parameter \#1 \$data of static method Zack\\PhpDsAlgo\\Algorithmes\\ArraySortAlgorythmes\:\:bucketSort\(\) expects array\<int, float\|int\>, array\<int, int\|string\> given\.$#'
			identifier: argument.type
			count: 2
			path: tests/Unit/Algorithmes/ArraySortAlgorythmesTest.php

		-
			message: '#^Parameter \#1 \$data of static method Zack\\PhpDsAlgo\\Algorithmes\\ArraySortAlgorythmes\:\:bucketSort\(\) expects array\<int, float\|int\>, array\<int, string\> given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Unit/Algorithmes/ArraySortAlgorythmesTest.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertContainsOnlyInstancesOf\(\) with ''Zack\\\\PhpDsAlgo\\\\DataStructure\\\\Graph\\\\GraphEdge'' and array\<Zack\\PhpDsAlgo\\DataStructure\\Graph\\GraphEdge\> will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 1
			path: tests/Unit/DataStructure/Graph/GraphTest.php

		-
			message: '#^Parameter \#1 \$oldValue of method Zack\\PhpDsAlgo\\DataStructure\\HashTabe\\HashSet\<bool\|float\|int\|object\|string\>\:\:update\(\) expects bool\|float\|int\|object\|string, array\<int, int\> given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Unit/DataStructure/HashTabe/HashSetTest.php

		-
			message: '#^Parameter \#1 \$oldValue of method Zack\\PhpDsAlgo\\DataStructure\\HashTabe\\HashSet\<bool\|float\|int\|object\|string\>\:\:update\(\) expects bool\|float\|int\|object\|string, null given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Unit/DataStructure/HashTabe/HashSetTest.php

		-
			message: '#^Parameter \#2 \$newValue of method Zack\\PhpDsAlgo\\DataStructure\\HashTabe\\HashSet\<bool\|float\|int\|object\|string\>\:\:update\(\) expects bool\|float\|int\|object\|string, array\<int, int\> given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Unit/DataStructure/HashTabe/HashSetTest.php

		-
			message: '#^Parameter \#2 \$newValue of method Zack\\PhpDsAlgo\\DataStructure\\HashTabe\\HashSet\<bool\|float\|int\|object\|string\>\:\:update\(\) expects bool\|float\|int\|object\|string, null given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Unit/DataStructure/HashTabe/HashSetTest.php

		-
			message: '#^Parameter \#1 \$nodes of static method Zack\\PhpDsAlgo\\DataStructure\\LinkedList\\Doubly\\DoublyLinkedList\:\:fromNodes\(\) expects array\<Zack\\PhpDsAlgo\\DataStructure\\LinkedList\\Doubly\\DoublyLinkedListNode\>, array\<int, string\|Zack\\PhpDsAlgo\\DataStructure\\LinkedList\\Doubly\\DoublyLinkedListNode\> given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Unit/DataStructure/LinkedList/Doubly/DoublyLinkedListTest.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertContainsOnlyInstancesOf\(\) with ''Zack\\\\PhpDsAlgo\\\\DataStructure\\\\LinkedList\\\\Single\\\\SingleLinkedListNode'' and list\<Zack\\PhpDsAlgo\\DataStructure\\LinkedList\\Single\\SingleLinkedListNode\> will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 1
			path: tests/Unit/DataStructure/LinkedList/Single/CircularLinkedListTest.php

		-
			message: '#^Parameter \#1 \$value of method Zack\\PhpDsAlgo\\DataStructure\\Set\\Set\<int\>\:\:add\(\) expects int, string given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Unit/DataStructure/Set/SetTest.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertNull\(\) with null will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 1
			path: tests/Unit/DataStructure/Tree/BinaryTreeNodeTest.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertTrue\(\) with true will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 1
			path: tests/Unit/ExampleTest.php
